SUPPORT VECTOR MACHINE

In [29]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
import numpy as np

In [30]:
dataset= pd.read_csv('Social_Network_Ads.csv')

dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [31]:
dataset.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [32]:
dataset["Gender"].replace({"Male": 0, "Female": 1}, inplace=True)

In [33]:
ind_var=['User ID', 'Gender','Age', 'EstimatedSalary']
data= dataset[ind_var]
label=dataset.Purchased

data.head()

    User ID  Gender  Age  EstimatedSalary
0  15624510       0   19            19000
1  15810944       0   35            20000
2  15668575       1   26            43000
3  15603246       1   27            57000
4  15804002       0   19            76000

In [34]:
label.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [35]:
train_data, test_data, train_label, test_label= train_test_split(data, label, test_size=0.25)
train_data.shape, test_data.shape, train_label.shape, test_label.shape

((300, 4), (100, 4), (300,), (100,))

In [36]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

In [37]:
sc=StandardScaler()
train_data=sc.fit_transform(train_data)
test_data= sc.transform(test_data)

C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Gaurav\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Gaurav\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
svr= SVR(kernel="linear")
svr.fit(train_data, train_label)
predicted_test_label=svr.predict(test_data)

In [39]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(test_label, predicted_test_label))
print('Mean Squared Error: ', metrics.mean_squared_error(test_label, predicted_test_label))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(test_label, predicted_test_label)))

Mean Absolute Error:  0.306570828118203
Mean Squared Error:  0.1329624970019729
Root Mean Squared Error:  0.3646402295440986